<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" data-ng-init="getRecords()">
        <div class="x_title">
            <!--<h2>搜索:</h2>-->
            <!--<div class="col-md-3 col-sm-3 col-xs-6 form-group pull-left top_search" style="height:10px;">-->
            <!--<div class="input-group">-->
            <!--<input class="form-control" placeholder="输入故事 id" type="text" ng-model="story_id">-->
            <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button" ng-click="searchRecords()"><i-->
            <!--class="fa fa-search"></i>-->
            <!--</button>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2 col-sm-2 col-xs-2 form-group pull-left" style="height:10px;">-->
            <!--<select class="form-control" ng-model="num" ng-options="n for n in numlist">-->
            <!--<option value="" disabled>每页显示</option>-->
            <!--</select>-->
            <!--</div>-->
            <ul class="nav navbar-right panel_toolbox">
                <li class="pull-right">
                    <a class="close-link" style="cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-wrench fa-2x"></i>上传新应用分类</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" spinner spinner-name="spin">
            <!-- content starts here -->
            <table class="table table-hover table-bordered table-striped" style="table-layout: fixed;">
                <thead>
                <tr>
                    <th>排序</th>
                    <th>分类id</th>
                    <th>名称</th>
                    <th>图标</th>
                    <th>图标2</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datas" ng-model="datas">
                    <td>
                        <span ng-show="modifiable" style="cursor: pointer;color: green;"
                              ng-click="upsort(data._id)">▲</span><br/>
                        {[data.sort]}<br/>
                        <span ng-show="modifiable" style="cursor: pointer;color: red;"
                              ng-click="downsort(data._id)">▼</span>
                    </td>
                    <td>{[data._id]}</td>
                    <td>{[data.name]}</td>
                    <td><img ng-if="data.image_id"
                             ng-src="http://{[server_uri]}/category/image/{[data.image_id]}.jpg">
                        <button type="button" class="btn btn-sm btn-info" ng-show="modifiable"
                                ng-click="change_image(data._id)">更换
                        </button>
                    </td>
                    <td><img ng-if="data.image_id2"
                             ng-src="http://{[server_uri]}/category/image/{[data.image_id2]}.jpg">
                        <button type="button" class="btn btn-sm btn-info" ng-show="modifiable"
                                ng-click="change_image2(data._id)">更换
                        </button>
                    </td>
                    <td style="text-align: center;"><a ng-show="deletable" style="color: red;cursor: pointer;"
                           ng-click="delete(data._id)">X</a></td>
                </tr>
                </tbody>
            </table>
            <div id="example_info" class="dataTables_info">总页数 : {[totalPage]}</div>
            <div class="dataTables_paginate paging_full_numbers">
                <a class="first paginate_button paginate_button_disabled" ng-show="pagelist.length && pagelist[0] != 1"
                   ng-click="jumpPage(1)">第一页</a>
                <a class="previous paginate_button paginate_button_disabled" ng-show="current_page != 1"
                   ng-click="jumpPage(current_page-1)">上一页</a>
                <span>
                    <a ng-repeat="page in pagelist"
                       ng-class="{true:'paginate_active',false:'paginate_button'}[current_page==page]"
                       ng-click="jumpPage(page)">{[page]}</a>
                </span>
                <a class="next paginate_button" ng-show="pagelist.length && current_page != totalPage"
                   ng-click="jumpPage(current_page+1)">下一页</a>
                <a class="last paginate_button" ng-show="pagelist.length && pagelist[pagelist.length-1] != totalPage"
                   ng-click="jumpPage(totalPage)">最后一页</a>
            </div>
            <!-- content ends here -->
        </div>
    </div>
</div>

<form class="ImageForm" action="/admin/appstore.category.image/upload" method="post" enctype="multipart/form-data"
      style="display: none;">
    <input type="hidden" name="category_id">
    <input type="hidden" name="image_name">
    <input name="image" type="file" accept="image/jpeg">
</form>

<div id="myModal" class="modal fade" role="dialog" spinner spinner-name="spin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">选择图片并上传</h4>
            </div>
            <div class="modal-body">
                <form class="Form" action="/admin/appstore.category/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        分类id:<input type="text" class="form-control" name="id">
                    </div>
                    <div class="form-group">
                        名称:<input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        图1:<input type="file" name="image1">
                    </div>
                    <div class="form-group">
                        图2:<input type="file" name="image2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitForm" style="margin-bottom:0px;">上传</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>
