<div id="myModal" role="dialog" spinner spinner-name="noname">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">选择文件并上传</h4>
            </div>
            <div class="modal-body">
                <form name="story" class="Form" action="/admin/story/compress/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        故事压缩文件: <input type="file" name="compress" accept=".zip, .tar, .tar.gz, .tar.bz"><br/>
                        (支持格式为: *.zip *.tar *tar.gz *tar.bz)
                    </div>
                    <div class="form-group">
                        故事标题: <input type="text" name="title" ng-model="title" placeholder="7个汉字之内" ng-maxlength="7" required/>
                    </div>
                    <div class="form-group">
                        故事分类:
                        <select name="category_id" ng-model="category_id" required>
                            <option value="">-- 选择 --</option>
                            <option ng-repeat="c in category_list" value="{[c['_id']]}">{[c['name']]}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        故事简介: <textarea name="brief" style="width: 400px;height: 100px;"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-disabled="story.$invalid" type="button" class="btn btn-primary submitForm" style="margin-bottom:0px;">上传</button>
            </div>
        </div>

    </div>
</div>