<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel" data-ng-init="getRecords()">
        <div class="x_title">
            <h2>搜索:</h2>
            <div class="col-md-3 col-sm-3 col-xs-6 form-group pull-left top_search" style="height:10px;">
                <div class="input-group">
                    <input class="form-control" placeholder="输入id" type="text" ng-model="_id">
					<span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="searchRecords()"><i
                                class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 form-group pull-left" style="height:10px;">
                <select class="form-control" ng-model="num" ng-options="n for n in numlist">
                    <option value="" disabled>每页显示</option>
                </select>
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li class="pull-right">
                    <a class="close-link" style="cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-users fa-2x"></i>添加活动</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- content starts here -->
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>活动名</th>
                    <th>类型</th>
                    <th>发布人</th>
                    <th>电话</th>
                    <th>报名截止时间</th>
                    <th>活动时间</th>
                    <th>地点</th>
                    <th>名额</th>
                    <th>已报名(人)</th>
                    <th>状态 </th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datas" ng-model="datas">
                    <th>{[data._id]}</th>
                    <th>{[data.name]}</th>
                    <th>{[data.user]}</th>
                    <th>{[data.phone]}</th>
                    <th>{[data.deadline]}</th>
                    <th>{[data.starttime]}</th>
                    <th>{[data.place]}</th>
                    <th>{[data.numbers]}</th>
                    <th>{[data.has]}</th>
                    <th>{[data.status]}</th>
                    <td><a style="cursor: pointer;" data-toggle="modal" data-target="#editModal"
                           ng-click="modify(data)"><i class="fa fa-edit"></i></a></td>

                    <td><a ng-show="data._id!='admin'" style="color: red;cursor: pointer;"
                           ng-click="delete(data._id)">X</a></td>
                </tr>
                </tbody>
            </table>
            <div id="example_info" class="dataTables_info">总页数 : {[totalPage]}</div>
            <div class="dataTables_paginate paging_full_numbers">
                <a class="first paginate_button paginate_button_disabled" ng-show="pagelist.length && pagelist[0] != 1"
                   ng-click="jumpPage(1)">第一页</a>
                <a class="previous paginate_button paginate_button_disabled" ng-show="current_page != 1"
                   ng-click="jumpPage(current_page-1)">上一页</a>
				<span>
								<a ng-repeat="page in pagelist"
                                   ng-class="{true:'paginate_active',false:'paginate_button'}[current_page==page]"
                                   ng-click="jumpPage(page)">{[page]}</a>
							</span>
                <a class="next paginate_button" ng-show="pagelist.length && current_page != totalPage"
                   ng-click="jumpPage(current_page+1)">下一页</a>
                <a class="last paginate_button" ng-show="pagelist.length && pagelist[pagelist.length-1] != totalPage"
                   ng-click="jumpPage(totalPage)">最后一页</a>
            </div>
            <!-- content ends here -->
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">发布活动</h4>
            </div>
            <div class="modal-body">
                <form class="Form" action="/resource/users" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        活动名: <input type="text" class="form-control" name="name">
                    </div>
                    <br>
                    <div class="form-group">
                        类型: <input type="text" class="form-control" name="types"> <br>
                        名额: <input type="text" class="form-control" name="numbers"> <br>
                        地点: <input type="text" class="form-control" name="place"> <br>
                        发布人: <input type="text" class="form-control" name="users"> <br>
                        活动时间: <input type="text" class="form-control" name="start_time"> <br>
                        截止时间: <input type="text" class="form-control" name="end_time"> <br>
                        联系电话: <input type="text" class="form-control" name="phone"> <br>

                    </div>
                    <div class="form-group">
                        <label>详情添加</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="margin-bottom:0px;">创建</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{[currActivity._id]}</h4>
            </div>
            <div class="modal-body">
                <form class="Form" action="/resource/users" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        活动名: <input type="text" class="form-control" placeholder={[currActivity.name]}>
                    </div>
                    <div class="form-group">
                        类型: <input type="text" class="form-control" placeholder={[currActivity.type]}> <br>
                        名额: <input type="text" class="form-control" placeholder={[currActivity.name]}> <br>
                        地点: <input type="text" class="form-control" placeholder={[currActivity.place]}> <br>
                        发布人: <input type="text" class="form-control" placeholder={[currActivity.user]}> <br>
                        状态: <input type="text" class="form-control" placeholder={[currActivity.status]}> <br>
                        活动时间: <input type="text" class="form-control" placeholder={[currActivity.start_time]}> <br>
                        报名截止: <input type="text" class="form-control" placeholder={[currActivity.deadline]}> <br>
                    </div>
                    <div class="form-group">
                        <label>详情修改</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="margin-bottom:0px;">修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>
