<div class="col-md-12 col-sm-12 col-xs-12" hidden></div>
<div class="x_panel" data-ng-init="getRecords()">
    <div class="x_title">
        <h2>搜索:</h2>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group pull-left top_search" style="height:10px;">
            <div class="input-group">
                <input class="form-control" placeholder="查询的标题" type="text" ng-model="title">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchRecords()" style="cursor: pointer;">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 form-group pull-left" style="height:10px;">
            <select class="form-control" ng-change="change(num)" ng-model="num" ng-options="n for n in numlist">
                <option value="" disabled>每页显示</option>
            </select>
        </div>
        <ul class="nav navbar-right panel_toolbox">
            <li class="pull-right">
                <a class="close-link" style="cursor:pointer;" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-users fa-2x"></i>添加语录</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content" id="quoteSet">
        <!-- content starts here -->
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>标题</th>
                <th>来源</th>
                <th>发布时间</th>
                <th>阅读量</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in quoteShow" ng-model="quoteShow" >
                <td>{[data._id]}</td>
                <td>{[data.title]}</td>
                <td>{[data.source]}</td>
                <td>{[data.timestamp]}</td>
                <td>{[data.read_count]}</td>
                <td><a style="cursor: pointer;" data-toggle="modal" data-target="#editModal"
                       ng-click="modify(data)"><i class="fa fa-edit"></i></a></td>
                <td><a ng-show="data._id!='admin'" style="color: red;cursor: pointer;"
                       ng-click="delete(data._id, data)">X</a></td>
            </tr>
            </tbody>
        </table>
        <div id="example_info" class="dataTables_info">总页数 : {[totalPage]}</div>
        <div class="dataTables_paginate paging_full_numbers">
            <a class="first paginate_button paginate_button_disabled" ng-show="pagelist.length && pagelist[0] != 1"
               ng-click="jumpPage(1)">第一页</a>
            <a class="previous paginate_button paginate_button_disabled" ng-show="current_page != 1"
               ng-click="jumpPage(current_page-1)">上一页</a>
            <span>
                <a ng-repeat="page in pagelist"
                   ng-class="{true:'paginate_active',false:'paginate_button'}[current_page==page]"
                   ng-click="jumpPage(page)">{[page]}</a>
            </span>
            <a class="next paginate_button" ng-show="pagelist.length && current_page != totalPage"
               ng-click="jumpPage(current_page+1)">下一页</a>
            <a class="last paginate_button" ng-show="pagelist.length && pagelist[pagelist.length-1] != totalPage"
               ng-click="jumpPage(totalPage)">最后一页</a>
        </div>
        <!-- content ends here -->
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">添加语录</h4>
            </div>
            <div class="modal-body">
                <form class="Form" action="/resource/quotes" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        标题: <input type="text" class="form-control" name="title" >
                    </div>
                    <br>
                    <div class="form-group">
                        来源: <input type="text" class="form-control" name="source" > <br>
                    </div>
                    <div class="form-group">
                        <label for="brief">内容</label>
                        <div id="editorQuote"></div>
                        <input  name="brief" type="hidden"/>
                        <input name="timestamp" type="hidden"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="margin-bottom:0px;" ng-click="addQuote()" data-dismiss="modal">创建</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{[quote._id]}</h4>
            </div>
            <div class="modal-body">
                <form class="Form" action="/resource/quotes" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        标题: <input type="text" class="form-control" name="title" value={[quote.title]} ng-model="quote.title">
                    </div>
                    <div class="form-group">
                        来源: <input type="text" class="form-control" name="source" value={[quote.source]} ng-model="quote.source"> <br>
                    </div>
                    <div class="form-group" fit="true">
                        <label for="brief">描述修改</label>
                        <div id="quillQuote"></div>
                        <input type="hidden" name="brief"/>
                        <input name="timestamp" type="hidden"/>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="margin-bottom:0px;" data-dismiss="modal" ng-click="modifySubmit()" data-dismiss="modal">修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>

<div id="searchResult" hidden>
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>来源</th>
            <th>发布时间</th>
            <th>阅读量</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="title in titleSet" ng-model="titleSet">
            <th>{[title._id]}</th>
            <th>{[title.title]}</th>
            <th>{[title.source]}</th>
            <th>{[title.timestamp]}</th>
            <th>{[title.read_count]}</th>
        </tr>
        </tbody>
    </table>
</div>

