<div class="col-md-12 col-sm-12 col-xs-12" hidden></div>
    <div class="x_panel" data-ng-init="getRecords()">
           <div class="x_title">
            <h2>搜索:</h2>
            <div class="col-md-3 col-sm-3 col-xs-6 form-group pull-left top_search" style="height:10px;">
                <div class="input-group">
                    <input id="inputField" class="form-control" placeholder="请输入微信帐号，姓名或者行业" type="text" >
					<span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search()"><i
                                class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 form-group pull-left" style="height:10px;">
                <select class="form-control" ng-change="change(num)" ng-model="num" ng-options="n for n in numlist">
                    <option value="" disabled>每页显示</option>
                </select>
            </div>
            <!--<ul class="nav navbar-right panel_toolbox">
                <li class="pull-right">
                    <a class="close-link" style="cursor:pointer;" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-users fa-2x"></i>添加用户</a >
                </li>
            </ul>-->
            <div class="clearfix"></div>
        </div>
        <br/>

        <div class="x_content">
            <!-- content starts here -->
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>微信企业账号id</th>
                    <th>微信账号id</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>学院</th>
                    <th>入学年级</th>
                    <th>专业</th>
                    <th>行业</th>
                    <th>职业</th>
                    <!--<th>查看</th>-->
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in users" ng-model="users">
                    <td>{[data._id]}</td>
                    <td>{[data.UserId]}</td>
                    <td>{[data.OpenId]}</td>
                    <td>{[data.name]}</td>
                    <td>{[data.gender]}</td>
                    <td>{[data.phone]}</td>
                    <td>{[data.academy]}</td>
                    <td>{[data.grade]}</td>
                    <td>{[data.specialty]}</td>
                    <td>{[data.career]}</td>
                    <td>{[data.profession]}</td>
                    <!--<td><a href="javascript:void(0);" ng-click="getUserInfo(data._id);">详情</a></td>-->

                    <td><a style="cursor: pointer;" data-toggle="modal" data-target="#editModal"
                           ng-click="modify(data)"><i class="fa fa-edit"></i></a></td>

                    <td><a ng-show="data._id!='admin'" style="color: red;cursor: pointer;"
                           ng-click="delete(data._id, data)">X</a></td>
                </tr>
                </tbody>
            </table>
            <div id="example_info" class="dataTables_info">总页数 : {[totalPage]}</div>
            <div class="dataTables_paginate paging_full_numbers">
                <a class="first paginate_button paginate_button_disabled" ng-show="pagelist.length && pagelist[0] != 1"
                   ng-click="jumpPage(1)">第一页</a>
                <a class="previous paginate_button paginate_button_disabled" ng-show="current_page != 1"
                   ng-click="jumpPage(current_page-1)">上一页</a>
				<span>
								<a ng-repeat="page in pagelist"
                                   ng-class="{true:'paginate_active',false:'paginate_button'}[current_page==page]"
                                   ng-click="jumpPage(page)">{[page]}</a>
							</span>
                <a class="next paginate_button" ng-show="pagelist.length && current_page != totalPage"
                   ng-click="jumpPage(current_page+1)">下一页</a>
                <a class="last paginate_button" ng-show="pagelist.length && pagelist[pagelist.length-1] != totalPage"
                   ng-click="jumpPage(totalPage)">最后一页</a>
            </div>
            <!-- content ends here -->
        </div>
    </div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新建用户</h4>
            </div>
            <div class="modal-body">
                <form class="Form" action="/resource/users" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        姓名(必填): <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form">
                        <input type="radio" name="gender" value="男" >男 &nbsp
                        <input type="radio" name="gender" value="女">女
                    </div>
                    <br>
                    <div class="form-group">
                        学院: <input type="text" class="form-control" name="academy" >
                        入学年级: <input type="text" class="form-control" name="grade">
                        专业: <input type="text" class="form-control" name="specialty">
                        电话: <input type="text" class="form-control" name="phone">
                        行业: <input type="text" class="form-control" name="career">
                        职业: <input type="text" class="form-control" name="profession">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  ng-click="submit()" style="margin-bottom:0px;" data-dismiss="modal">创建</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{[currUser._id]}</h4>
            </div>

            <div class="modal-body">
                <form class="Form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        姓名(必填): <input type="text" class="form-control" name="name" value={[currUser.name]} ng-model="currUser.name">
                    </div>

                    <div class="form-group">
                        男<input id="man" type="radio" value="男" name="gender" />
                        女<input id="lady" type="radio" value="女" name="gender" />
                    </div>
                    <br>
                    <div class="form-group">
                        学院: <input type="text" class="form-control" name="academy" value={[currUser.academy]} ng-model="currUser.academy">
                        入学年级: <input type="text" class="form-control" name="grade" value={[currUser.grade]} ng-model="currUser.grade">
                        专业: <input type="text" class="form-control" name="specialty" value={[currUser.specialty]} ng-model="currUser.specialty">
                        电话: <input type="text" class="form-control" name="phone" value={[currUser.phone]} ng-model="currUser.phone">
                        行业: <input type="text" class="form-control" name="career" value={[currUser.career]} ng-model="currUser.career">
                        职业: <input type="text" class="form-control" name="profession" value={[currUser.profession]} ng-model="currUser.profession">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="margin-bottom:0px;" ng-click="submitModify()" data-dismiss="modal">修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
