/*base*/
*{margin: 0;padding: 0;}
html,body{font-family: "serif";color: black;background: #ffffff;font-family: 微软雅黑;}
ul,li ol,li{text-decoration: none;list-style-type: none}
a{text-decoration: none;outline:none;}
a:hover, a:visited, a:link, a:active {color: black}
img{border: none;}
.clearfix:after{content: "";  height: 0;  line-height: 0;  width: 0;  display: block;  clear: both;  visibility: hidden;}
.clearfix{zoom :1;}
.fl{float: left;}
.fr{float: right;}